@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:400|Raleway:400,700,400italic,700italic);

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: gilroy, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font: 16px/1.25 'Raleway', sans-serif;
}

.main-header {
    background-color: #f8bcd0;
}

h1 {
    font-family: gilroy, sans-serif;
}

a {
    color: #3a3a3a;
}

a:hover {
    color: #000;
    text-decoration: none;
}

a.hover:hover{
    text-decoration: underline;  
}

.container {
    margin: 0 auto;
    max-width: 80em;
}

main .container {
    padding: 1em;
}

p {
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
}

.screen-reader-text {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}



/************************************************/
/****************** NAVIGATION ******************/
/************************************************/
nav {
    background: #f8bcd0;
    color: #ffffff;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 2px 7px #dfdfdf;
}

/*** INPUT ***/
nav input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

/*** LABEL ***/
nav label {
    cursor: pointer;
    display: block;
    font: 2em/1 'Oswald', sans-serif;
    padding: 1em;
    margin-bottom: 3rem;
}

/* Hamburger Icon */
#menu-icon,
#menu-icon:before,
#menu-icon:after {
    background: #ffffff;
    border-radius: 0.05em;
    height: 0.2em;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

.image-header {
    width: 540px;
    margin-left: 60px;
}

#menu-icon {
    display: inline-block;
    margin: 0.4em 0;
    max-width: 1em;
    position: relative;
}

nav label #menu-icon {
    position: absolute;
    left: 35px;
}

#menu-icon:before,
#menu-icon:after {
    content: '';
    left: 0;
    position: absolute;
}

#menu-icon:before {
    top: -0.4em;
}

#menu-icon:after {
    bottom: -0.4em;
}

/* Close Icon */
nav input[type=checkbox]:checked+label #menu-icon {
    background: transparent;
}

nav input[type=checkbox]:checked+label #menu-icon:before {
    top: 0;
    transform: rotate(-45deg);
}

nav input[type=checkbox]:checked+label #menu-icon:after {
    bottom: 0;
    transform: rotate(45deg);
}


/*** MENU ***/
/* Overlay */
nav input:checked~#overlay {
    background: #f8bcd0;
    bottom: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
}

/* List */
nav ul {
    font-size: 1.5em;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

nav input:checked~ul {
    margin: 1em;
    max-height: inherit;
    opacity: 1;
}

nav ul>li {
    margin: 0.5em 0;
}

nav ul a {
    color: #1d1f20 !important;
    text-decoration: none;
}

nav ul a:hover {
    text-decoration: underline;
}

/* Social Media */
nav ul#social-media>li {
    display: inline-block;
    font-size: 1.5em;
    margin: 0.5em;
}

.main-text {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 86px;
    color: white;
    text-align: center;
    text-shadow:-0.0075em 0.0075em 0 #fef2f6, 0.005em 0.005em 0 #f6a5c1, 0.01em 0.01em 0 #f7aac4, 0.015em 0.015em #f7aec7, 0.02em 0.02em 0 #f8b3ca, 0.025em 0.025em 0 #f8b7cd, 0.03em 0.03em 0 #f8bcd0, 0.035em 0.035em 0 #f9c0d3;
}

.main-sub-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 34px;
    color: #FFFFFF;
}

.btn-shopnow {
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
    width: 170px;
    margin-top: 60px;
}

.header-main-text {
    margin: 85px 0;
}

.padding-cust-reset {
    padding: 0;
}

.card-img {
    border: none !important;
    border-radius: unset !important;
}

.card {
    border: none !important;
}

.card-title {
    margin-top: 32px !important;
}

.link {
    margin-top: 40px !important;
}

.our-product {
    margin-top: 100px;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 40px;
}

.product-card {
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}

.hero-image-card {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(1, 56, 112, 0.46);
    margin-top: 120px;
}

.text-section {
    padding-top: 150px;
    padding-bottom: 120px;
}

/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}


@media only screen and (max-width: 425px) {
    .product-grid__product {
        margin-bottom: 120px !important;
    }
}


@media only screen and (max-width: 768px) {
    .image-header {
        width: 410px !important;
        margin-left: 0 !important;
        bottom: -84px;
        position: relative;
    }

    .main-text {
        font-size: 38px;
    }

    .btn-shopnow {
        margin-bottom: 60px;
    }

    .card-title {
        margin-top: 32px !important;
    }

    .product-card {
        width: 225px;
    }
}

@media only screen and (max-width: 768px) {
    .image-header {
        display: none;
    }

    .product-card {
        width: 320px;
    }
}

@media only screen and (max-width: 768px) {
    .product-card {
        width: 285px;
    }
}

.logo-sec {
    position: absolute;
    top: 5px;
}

.cart-icon {
    width: 40px;
    position: absolute;
    right: 47px;
}

.res-menu {
    display: flex;
    justify-content: space-around;
}