@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:400|Raleway:400,700,400italic,700italic);
*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: gilroy, sans-serif;
}

body {
    background-color: #f3f3f3;
    color: rgb(0, 0, 0);
    font: 16px/1.25 'Raleway', sans-serif;
}

.main-header {
    background-color: #f8bcd0;
}

h1 {
    font-family: gilroy, sans-serif;
}

a {
    color: #3a3a3a;
}

a:hover {
    color: #000;
    text-decoration: none;
}

a.hover:hover {
    text-decoration: underline;
}

.container {
    margin: 0 auto;
    max-width: 80em;
}

main .container {
    padding: 1em;
}

p {
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
}

.our-product {
    font-size: 35px;
    font-weight: 600;
}

.app-container {
    min-height: 85vh;
    margin: auto;
}

textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus, button:focus, button:active, button:hover, label:focus, .btn:active, .btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}