.nav-tabs{
    background-color: #fff;
    box-shadow: none;
}

.react-swipeable-view-container > div {
    height: fit-content;
}

.react-swipeable-view-container > div[aria-hidden="true"] {
    height: 0;
}
