.header-main-text {
    margin-top: 25px;
}

.top-banner {
    height: 30vh;
}

@media only screen 
  and (min-device-width: 320px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .header-main-text {
        margin-top: 15px;
    }

    .top-banner {
        height: unset;
    }
}